html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: var(--spacing-sm);
}

.header {
    display: flex;
    justify-content: center;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.game-grid-object {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

.markers button {
    padding: 15px;
    margin: 15px;

}

.disabled{
    pointer-events: none;
}

.difficulty {
    display: flex;
    justify-content: center;
}

#restartBtn {
    margin-top: 25px;
}